/*
Colors:

main-colors: 
#0e131a
#6812da


Shades:
#charcoal #0a0d12


Tints:
$purple #f0e7fb
#charcoal #262b31

*/

* {
  font-family: 'Karla', sans-serif;
}

body {
  margin: 0;
  background-color: #0e131a;
}

::-webkit-scrollbar {
  display: none;
}
