/*
Colors:

main-colors: 
#0e131a
#6812da


Shades:
#charcoal #0a0d12, #07090c


Tints:
$purple #f0e7fb
#charcoal #262b31

*/

* {
  font-family: 'Karla', sans-serif;
  color: #f0e7fb;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #0e131a;
  -webkit-text-size-adjust: 100%;
}

::-webkit-scrollbar {
  display: none;
}

/* Active classes for scrollspy */
.active {
  font-weight: 700 !important;
  color: #6812da !important;
}

.active svg {
  fill: #6812da !important;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

.nav-closed {
  left: -280px !important;
}

.typed {
  font-size: 1.4rem !important;
  font-weight: 500;
  padding-right: 7px;
}

.test {
  @media only screen and (max-width: 600px) {
    font-size: 2.8rem !important;
  }

  @media only screen and (max-width: 500px) {
    font-size: 2.2rem !important;
  }

  @media only screen and (max-width: 395px) {
    font-size: 2rem !important;
  }
}
